.top{
    background: url(/img/tx.jpg );
    height: 500px;
}
.t1{
    width: 100%;
}
nav{
    clear: both;
    width: 780px;
    height: 40px;
    padding: 0 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
nav ul li{
    float: right;
    display: block;
    width: 118px;
    padding-right: 2px;
    height: 40px;
    padding: 0;
    margin: 0;
    background: url(/img/btn.png) no-repeat  right center; 
}
nav .last{
    background: none;
}
nav ul li a{
    display: block;
    width: 118px;
    height: 33px;
    padding-top: 7px;
    font-size: 13px;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    text-align:center;
    outline: none;
}
.t2{
    width: 100%;
}
.n1{
    background-color:lightblue;
    width: 15%;
    height: 400px;
    float: left;
}
.n2{
    background-color:#ffffff;
    width: 35%;
    height:400px;
    float: left;
}
.n3{
    background-color: gold;
    width: 25%;
    height: 400px;
    float: left;
}
.n4{
    background-color:lightblue;
    width:25%;
    height: 400px;
    float: left;
}
.middle{
    background-color:mediumturquoise;
    clear: both;
    height: 300px;
}
.leg{
    background-color: mediumvioletred;
    clear: both;
    height: 320px;
}
.t3{
    width: 100%;

}
.footer{
    background-color:deepskyblue;
    clear: both;
    height: 80px;
}